.box {
  margin-left: 36%;
  margin-right: 36%;
  margin-top: 15%;
  padding: 1%;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
  background-color: #424242;
}
