<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            @{
                ViewData["Title"] = "Página Inicial";
            }
        </title>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Bem Vindo!</h1>
            <p>Sistema de controle de Contactos</p>
        </div>
    </body>
</html>