@model HomeModel
@{
    ViewData["Title"] = "Meu Primeiro Site em MVC";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome !</h1>
    <p>Meu primeiro site em MVC</p>
    <span>Seu e-mail é: <code>@Model.Email</code></span>
</div>
